<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Rigel Technologies"
            id="RPA_Suite_for_Eclipse">
      </category>
      <wizard
            id="rpa_suite_for_eclipse.wizards.SampleNewWizard"
            name="RPA Suite for Eclipse"
            icon="icons/sample.png"
            class="rpa_suite_for_eclipse.wizards.SampleNewWizard"
            category="RPA_Suite_for_Eclipse">
      </wizard>
   </extension>
</plugin>
